.max-h-content {
  max-height: calc(100vh - 120px);
} 
.min-h-content {
  min-height: calc(100vh - 120px);
}

.max-w-content {
  max-width: calc(100vw - 49px);
} 
.min-w-content {
  min-width: calc(100vw - 49px);
}